{% extends 'base_page.html' %}

{% block title %}
   DZ_RIP

<script src='/static/js/validation.js'></script>





{% endblock %}

{% block head %}

    {{match.participant_1}} VS {{ match.participant_2 }}

{% endblock %}

{% block body %}
    <style type="text/css">
    th {
        text-align:center;
    }
    </style>


    <img src="{{ match.participant_1.picture.url }}" alt="нету картинки =(" height="150px"  align="left" />
    <img src="{{ match.participant_2.picture.url }}" alt="нету картинки =(" height="150px" align="right" />

<div align="center"> Дата: {{ match.date_of_match|date:"D, d M Y" }}</div>
    <div align="center"> Время: {{ match.date_of_match|date:"H:i" }}</div>
    <div align="center"> Вид спорта: {{ match.participant_1.kind_of_sport }}</div>
    <table align="center" border="2" bordercolor="#2b542c" width="800">
    <caption>Сравнение участвующих команд</caption>
    <tr>
        <th></th>
        <th>Рэйтинг</th>
        <th>Количество сыгранных матчей</th>
        <th>Количество выигранных матчей</th>
    </tr>
    <tr>
        <th>{{match.participant_1}}</th>
        <th>{{match.participant_1.rating}}</th>
        <th>{{match.participant_1.quantity_game}}</th>
        <th>{{match.participant_1.quantity_win}}</th>
    </tr>
    <tr>
        <th>{{match.participant_2}}</th>
        <th>{{match.participant_2.rating}}</th>
        <th>{{match.participant_2.quantity_game}}</th>
        <th>{{match.participant_2.quantity_win}}</th>
    </tr>
    </table>
    <div style="margin-top: 20px">
    Список пользователей, поставивших на команду "{{ match.participant_1 }}":
    {% for ante in antes_part_1 %}
        {{ ante.user_for.username }}
        ({{ ante.user_for.first_name }}&nbsp;{{ ante.user_for.last_name }})
        {% empty %}
        список пуст
        {% endfor %}
    </div>
     <div style="margin-top: 15px">
    Список пользователей, поставивших на команду "{{ match.participant_2 }}":
    {% for ante in antes_part_2 %}
        {{ ante.user_for.username }}
        ({{ ante.user_for.first_name }} &nbsp;{{ ante.user_for.last_name }})
        {% empty %}
        cписок пуст
        {% endfor %}
    </div>

{% if form.errors%}
            <div class="col-md-4 col-md-offset-2">
            <div class="alert alert-warning">
                <a href="{% url 'match_url' match.id %}" class="close" data-dismiss="alert">×</a>
                {% for f in form %}
                    {% if f.errors %}
                     <p>{{ f.label }}</p>
                    {% for e in f.errors %}
                        <p>{{ e }}</p>
                    {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
            </div>
        {% endif %}
    <!-- Модаааалкаааа -->


  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="float:right;margin-top: 15px; background-color: #5cb85c; border-color: #2b542c;font-size: 25px" >Сделать ставку</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" align="center">Ставка на матч <br>{{ match.date_of_match |date:"<d. m. Y>"}}</h4>
        </div>
        <div class="modal-body">

           <form method="POST"  enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p}}

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Отправить</button>
            </div>
        </form>

      </div>

    </div>
  </div>
  </div>



{% endblock %}



