{% extends 'base_page.html' %}

{% block title %}

{% endblock %}

{% block head %}
    Список матчей
{% endblock %}

{% block body %}
    <ol>
     {% for match in page %}
        <li> Матч: {{match.participant_1}} VS {{ match.participant_2 }}
            <br> Дата: {{ match.date_of_match|date:"D, d M Y" }}<br>
            <img src="{{ match.participant_1.picture.url }}" alt="нету картинки =(" height="150px" style="margin: 15px"/>
            <label>против</label>
            <img src="{{ match.participant_2.picture.url }}" alt="нету картинки =(" height="150px" style="margin: 15px"/>
            <br><a href="{% url 'match_url' match.id %}">Смотреть подробно...</a>
        <br><br>
        </li>

        {% empty %}
        Список пуст
        {% endfor %}

    </ol>
    {% include "paginate.html" %}


{% endblock %}
